app-login-register {
    background-color: green;
}

.mat-form-field {
    width     : 100%; // ฟิลด์อยู่คนละ Line
    margin-top: 10px; // ระยะห่างด้านบน ไม่มีผลกับตัวแรก
}

.mat-card-title {
    border-bottom : 1px solid #888; // เส้นใต้ ของ title 
    padding-bottom: 20px; // ระยะห่าง จาก text - line table
    margin-bottom : 20px; // ระยะห่าง จาก Line - object ต่อไป
}

.mat-card {
    width:50%;
    margin: auto ;// หรือ auto auto auto auto;  // ตามเข็มนาฬิกา --> บน ขวา ล่าง ซ้าย
    margin-top: 100px;  // ถ้ามีหลัง margin อีกที จะทำให้มีผลแทน margin:auto สำหรับด้านบน ด้วนเดียว
}